{% extends 'base.html' %}

{% block title %} Categorias {% endblock %}

{% block content %}
{% load static %}
<div class="row w-100 d-flex mt-5 mb-3">
    <div class="m-auto col-9">
        <h2 id="categorias">Categorías</h2>
    </div>
</div>

<div class="row w-100 mb-5">
    <div class="col-10 col-md-9 d-flex justify-content-between flex-wrap m-auto ">
        {% for categoria in categorias %}
        <div class="contenedor col-12 col-md-5 col-lg-3 mb-4 mx-3">
            <a class="link-success link-underline-opacity-0 link-underline-opacity-100-hover d-flex flex-column align-items-center"
                href="{% url 'productos' categoria.categoria_id %}">
                {% if categoria.img_categ %}
                    <img src="{{ categoria.img_categ.url}}" alt="Avatar" class="imagen">
                {% else %}
                    <img  src="{% static 'img/img_no_disponible.png' %}" alt="Avatar" class="imagen">
                {% endif %}
                <h3 class="titulo">{{categoria.nombre_categ}}</h3>
            </a>
        </div>
        {% endfor %}
    </div>

</div>
{% endblock %}