{% extends 'base.html' %}

{% block title %} Perfil {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row w-100 d-flex mt-5">
        <div class="m-auto col-9">
            <h1> Bienvenido {{user.first_name}}</h1>
            <div class="border rounded p-3">
                <h3>Mis datos:</h3>
                <p>Nombre de usuario: {{user.username}}</p>
                <p>Nombre: {{user.first_name}}</p>
                <p>Apellido: {{user.last_name}}</p>
                <p>Correo: {{user.email}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}